<div class="main content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form>

                <div formGroupName="customer" class="form-area">
                    <h3>Customer Details</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email Address</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Phone Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="phoneNumber" type="text">
                            </div>
                        </div>
                    </div>
                  
                </div>


                <div formGroupName="customer" class="form-area">
                    <h3>Sjipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Address Line 1</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="addressLine1" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Address Line 2</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="addressLine2" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State/Province</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="stateProvince" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="postalCode" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="country" type="text">
                            </div>
                        </div>
                    </div>
                  
                </div>


                <div formGroupName="customer" class="form-area">
                    <h3>Card Details</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Expiry Date</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardExpiryDate" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>CCV</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="ccv" type="text">
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>

              </form>

        </div>
    </div>
</div>
