<div class="centered-box">
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="success-box">
                    <h1>Thank you for shopping with Malones, we appreciate your business.</h1>
                    <h3>For any inquiries about your order, email malonesINC@gmail.com</h3>
                </div>
                <button routerLink="/" class="btn btn-dark btn-sm">Click here to return to home page</button>
            </div>
        </div>
    </div>
</div>
