.product-box {
    padding-top: 12px;
    margin-bottom: 40px;
    text-align: center;
}

.product-box img {
    height: 300px;
    width: 250px;
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
