<div class="main content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let order of orders" class="col-md-4">
                    <div class="product-box">
                        <h3>Order ID:</h3>
                        <p>{{order.orderId}}</p>
                        
                        <h4>Customer Details</h4>
                        <p><strong>Name:</strong> {{order.customer.name}}</p>
                        <p><strong>Email:</strong> {{order.customer.email}}</p>
                        
                        <h5>Address</h5>
                        <p>{{order.customer.address.line1}}</p>
                        <p>{{order.customer.address.line2}}</p>
                        <p>{{order.customer.address.city}}, {{order.customer.address.state}}, {{order.customer.address.postal_code}}</p>
                        <p>{{order.customer.address.country}}</p>
                        
                        <p><strong>Total:</strong> {{order.total}} {{order.currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>