<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Malones</a>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo03">
          <div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/admin">Admin</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/order-history">Orders</a>
                  </li>
              </ul>
          </div>
          
          <form class="d-flex" role="search" (submit)="onSearch($event)">
              <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" name="searchTerm" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark btn-outline-success" type="submit">Search</button>
          </form>

          <div>
              <ul class="navbar-nav">
                <li class="nav-item" *ngIf="userIsAuthenticated">
                  <a class="nav-link" (click)="onLogout()">Logout</a>
                </li>
                <li class="nav-item" *ngIf="!userIsAuthenticated">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!userIsAuthenticated">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
              </ul>
          </div>
      </div>
  </div>
</nav>