<div class="centered-box">
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="cancel-box">
                    <h1>You still have items in your cart!</h1>
                    <h3>You can come back and checkout soon</h3>
                </div>
                <button routerLink="/" class="btn btn-dark btn-sm">Click here to return to home page</button>
            </div>
        </div>
    </div>
</div>