<div class="card" style="max-width: 400px; margin: 30px auto;">
  <div class="card-body">
    <!-- Spinner -->
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Login Form -->
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" id="email" name="email" ngModel #emailInput="ngModel" placeholder="E-Mail" required email>
        <small *ngIf="emailInput.invalid" class="form-text text-danger">Please Enter a valid email</small>
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required>
        <small *ngIf="passwordInput.invalid" class="form-text text-danger">Please Enter a valid password</small>
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn btn-primary btn-dark" *ngIf="!isLoading">Login</button>
    </form>
  </div>
</div>